<!DOCTYPE html>
<html>
<head>
  {% include 'header.html' %}
  <script>
    function onlogin(identity) {
      console.log('LOGIN SUCCESS');
      console.log(identity);
      var targetDiv = document.querySelector(SFIDWidget.config.target);	
		
      var avatar = document.createElement('a'); 
      avatar.href = "javascript:showIdentityOverlay();";
      
      
      var img = document.createElement('img'); 
      img.src = identity.photos.thumbnail; 
      img.className = "sfid-avatar";
    
      var username = document.createElement('span'); 
      username.innerHTML = identity.username;
      username.className = "sfid-avatar-name";
    
      var iddiv = document.createElement('div'); 
      iddiv.id = "sfid-identity";
      
      avatar.appendChild(img);
      avatar.appendChild(username);
      iddiv.appendChild(avatar);		
    
      targetDiv.innerHTML = '';
      targetDiv.appendChild(iddiv);	
    }
    function onlogout() {
      console.log('onlogout');
      SFIDWidget.init();
    }
  </script>
</head>
<body>
  <div>
    <div style="margin: 5% 0 0 40%; width: 300px" id="salesforce-login"></div>
  </div>
  <div>
    <div style="top: 0px; float:right" id="salesforce-logout">
      <a href="https://devsb-ditest001b2bcommercelex.cs73.force.com/b2bCommLEX03/secur/logout.jsp?retUrl=https://embedded-login1.herokuapp.com" class="logout">Logout</a>
    </div>
  </div>
</body>
</html>
