<!DOCTYPE html>
<html>
<head>
  {% include 'header.html' %}
  <script type="text/css">
    .hide {
      display: none;
    }
    .show {
      display: inline-block;
    }
  </script>
  <script>
    function onlogin(identity) {
      console.log('LOGIN SUCCESS');
      console.log(identity);
      var targetDiv = document.querySelector(SFIDWidget.config.target);	
		
      var avatar = document.createElement('a'); 
      avatar.href = "javascript:showIdentityOverlay();";
      
      
      var img = document.createElement('img'); 
      img.src = identity.photos.thumbnail; 
      img.className = "sfid-avatar";
    
      var username = document.createElement('span'); 
      username.innerHTML = identity.username;
      username.className = "sfid-avatar-name";
    
      var iddiv = document.createElement('div'); 
      iddiv.id = "sfid-identity";
      
      avatar.appendChild(img);
      avatar.appendChild(username);
      iddiv.appendChild(avatar);		
    
      targetDiv.innerHTML = '';
      targetDiv.appendChild(iddiv);	
      let logout = document.getElementById('salesforce-logout');
      logout.className = 'show';

    }
    function onlogout() {
      console.log('onlogout');
      let logout = document.getElementById('salesforce-logout');
      logout.className = 'hide';
      SFIDWidget.init();
    }
    function logout() {
      SFIDWidget.logout();
    }
  </script>
</head>
<body>
  <div>
    <div>
      <div style="top: 0px; float:right" id="salesforce-logout">
        <a href="#" class="logout" onclick="logout()">Logout</a>
      </div>
    </div>
    <div>
      <div style="margin: 5% 0 0 40%; width: 300px" id="salesforce-login"></div>
    </div>
  </div>
</body>
</html>
